/* Center all box children vertically; don't stretch images */
hbox, row, richlistitem { -moz-box-align: center; }

/* Amend defaults for links */
.text-link { text-decoration: none; cursor: pointer; }
.text-link:hover { color: red; }

/* Icons */
.icon, .icon > * { padding: 2px 0px; cursor: pointer; }
image.icon:hover, .icon:hover > image { filter: url(icons/shadow.svg#drop-shadow); }
.icon[disabled="true"] { opacity: 0.5; cursor: default; filter: none !important; }

/* Rounded boxes */
.roundedbox { border: thin solid grey; border-radius: 5px; padding: 5px; margin: 5px; }

/* Menu button (needed to show correctly under some themes) */
button[type="menu-button"] { -moz-appearance: dualbutton; }
button[type="menu-button"] > button { margin: 0; }

/* Flag icon previews (line-height:0 needed for consistent spacing across platforms) */
box#previewsetbox { display: block; height: 300px; width: 520px; line-height: 0; }
image.previewicon { cursor: pointer; margin: 1px; border: solid lightgrey 1px; }
